body {
    margin: 0;
    padding: 0;
    background: url("../images/rusakov/bg.png") repeat;
}

.layout {
    width: 100%;
}

.layout_header{
    background: linear-gradient(180deg, #62a6de 0%, #4593c0 60%, #247fb3 61%, #096e98 100%);
    border-bottom: 1px solid #06435e;
    height: 59px;
}

.layout_header h1{
    font-size: 200%;
    float: left;
    color: white;
    margin: 0;
    padding-top: 12px;
    padding-left: 20px;
}

.header-nav ul{
    list-style: none;
    float: right;
    margin-right: 20px;
}

.header-nav li{
    float: left;
}

.header-nav li ul{
    display: none;
    position: absolute;
    margin: 0;
    color: white;
    background-color: #086d97;
    border: 1px solid #06445e;
    border-radius: 5px;
    padding: 5px 14px 5px 14px;

}

.header-nav li:hover ul{
    display: block;
}

.header-nav a{
    background: url("../images/rusakov/bg_item.png") no-repeat right top;
    color: #fdfeff;
    display: block;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
}

.header-nav a:hover, li .active{
    background-color: #086d97;
    border: 1px solid #06445e;
    border-radius: 5px;
    padding: 5px 14px 5px 14px;
}

.clear{
    clear: both;
}

.layout_top {
    background-color: #d5d5d5;
    border-bottom: 1px solid #6f7a80;
    box-shadow: 0 4px 4px #717c82;
    height: 34px;
}

.top_search{
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}

.top_reg{
    float: right;
    margin-top: 5px;
}

.top_reg form{
    float: left;
    margin-right: 15px;
}

.search-text{
    float: left;
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px 0 0 5px;
    color: #23252b;
    height: 22px;
    padding-left: 5px;
    width: 263px;
}

.search-submit{
    background: url("../images/rusakov/icon_search.png") no-repeat center center;
    border: none;
    cursor: pointer;
    height: 22px;
    width: 31px;
}

.top-text {
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    height: 18px;
    padding: 0 3px;
    width: 88px;
    margin-bottom: 5px;
    margin-right: 15px;
}

.top-submit-inter {
    background: url("../images/rusakov/bg_item_top.png") no-repeat right top;
    border: none;
    color: #8ab71b;
    cursor: pointer;
    font-size: 100%;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 15px;
    margin-right: 15px;
    padding-top: 3px;
}

.top-submit-reg{
    background: url("../images/rusakov/bg_item_top.png") no-repeat right top;
    background-color: #d5d5d5;
    border: none;
    color: #c8504b;
    cursor: pointer;
    font-size: 100%;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 15px;
}

.top_qwes{
    float: right;
    margin-right: 10px;
    font-size: 80%;
}
.top_qwes a {
    color: #606060;
    font-size: 100%;
    text-decoration: none;
}

.top_qwes a:hover {
    text-decoration: underline;
}

.layout_slayder{
    background:url("../images/rusakov/bg_slider.png") repeat;
    box-shadow: 5px 6px 25px #717c82;
    border-bottom: 4px solid #fff;
    margin-top: 5px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.slayder-pic{
    width: 230px;
    float: left;
    margin-right: 30px;
}

.slayder-conteiner{
    width: 80%;
    margin: auto;
}

.slayder-conteiner h2 {
    font-weight: normal;
    margin: 5px;
}

section{
    background-color: rgba(176, 204, 216, 0.5);
    display: table-cell;
    border-radius: 10px;
    padding: 15px;
    min-height: 750px;
}

section p{
    padding-left: 20px;
}

section a{
    background-color: #8ab71b;
    border-radius: 10px 2px 10px 2px;
    color: #f4f8ed;
    display: block;
    float: right;
    margin-bottom: -15px;
    margin-right: -15px;
    padding: 5px 10px;
    text-decoration: none;
}

section a:hover{
    border-radius: 5px 0 5px 0;
}

.layout_main-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 10px;
}

.main_left {
    width: 17%;
    margin: 0;
}

.left-content, .right-content{
    background-color: #e8f3f8;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-radius: 0 0 5px 5px;
    border-right: 2px solid #fff;
    padding: 10px 0;
}

.block-header{
    background: linear-gradient(180deg, #5aa1dc 0%, #3a8cbc 60%, #227eb2 61%, #096e98 100%);
    color: #fff;
    border-radius: 10px 10px 0 0;
    font-size: 120%;
    padding: 10px 10px 8px 10px;
}

.main_block {
    margin: 20px 0;
    box-shadow: 4px 5px 5px #dddcdd;
}

.main_block nav div div {
    background: url("../images/rusakov/menu_sep.png") no-repeat center bottom;
    padding-left: 20px;
}

.main_block nav div {
    background: url("../images/rusakov/menu_sep.png") no-repeat center bottom;
}

.main_block nav div a{
    text-decoration: none;
    background: url("../images/rusakov/arrow_menu.png") no-repeat 8px center;
    color: #444953;
    display: block;
    padding: 10px 0 10px 20px;
}

.main_block nav div:last-child a {
    background: url("../images/rusakov/arrow_menu.png") no-repeat 8px center;
}

.main_block nav div a:hover, .main_block nav div a.active{
    background: url("../images/rusakov/arrow_menu_active.png") no-repeat 8px center #d3d3d3;
    border-left: 2px solid #c8504b;
}

.block-subscription {
    padding-left: 10px;
    font-size: 100%;
    color: #61676f;
    margin: 0;
}

.left-content>img {
    margin-left: 10px;
    padding-bottom: 7px;
}

.block-subscription p{
    margin-top: 0;
}

.block-subscription a {
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 3px 16px;
    text-decoration: none;
    margin: 12px 0 18px 19px;
}

.button-subscription-rss, .button-vote{
    background-color: #f0b017;
    border-bottom: 2px solid #976c05;
    border-left: 1px solid #976c05;
    border-right: 1px solid #976c05;
    border-top: 1px solid #976c05;
}

.button-subscription-vk{
    background-color: #567ca1;
    border-bottom: 2px solid #2c567e;
}

.button-vote{
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 3px 16px;
    text-decoration: none;
    margin: 10px 0 0 10px;
}

.block-subscription a:hover, .button-vote:hover{
    border-radius: 5px;
}

.block-subscription img{
    float: left;
}

.left-content input{
    margin: 6px 10px;
}

.left-content p{
    color: #444953;
    font-size: 100%;
    margin: 6px 7px;
}

.main_right {
    width: 17%;
    margin: 0 20px 0 0;
}

.main_right .title{
    font-size: 110%;
    color:#61676f;
    margin: 0 10px 10px;
}

.right-content p{
    color: #61676f;
    font-size: 90%;
    margin: 5px 0 0 15px;
    line-height: 1em;
}
.right-content img {
    margin-bottom: 10px;
    margin-left: 15px;
}

.right-content .center-text{
    padding-top: 10px;
    text-align: center;
}

.right-content .lable{
    margin: 0 0 0 15px;
    color: #61676f;
}

.right-content input {
    margin: 10px 0 0 10px;
    width: 120px;
    background-color: #e9e9e9;
    border: 1px solid #a9b4bb;
    border-radius: 5px;
    height: 20px;
    padding: 0 5px;
}

.right-content input:focus {
    border-color: #ee4e10;
}

.right-content .inp1{
    margin: 10px 0 0 22px;
}

.right-content a{
    margin-left: 50px;
}

.right-content .button-green a{
    background-color: #8ab71b;
    border-bottom: 2px solid #628903;
    border-left: 1px solid #71980f;
    border-right: 1px solid #71980f;
    border-top: 1px solid #71980f;
    font-size: 100%;
}

.right-content .button-green a {
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 3px 16px;
    text-decoration: none;
    margin: 15px 0 5px 0;
}

.button-green{
    text-align: center;
}

.button-green a:hover {
    border-radius: 5px;
}

.right-content .right {
    text-align: right;
}

.main_center {
    width: 60%;
    margin: 0;
}

.main_center-content {
    background: linear-gradient(180deg, #fff, #e6e6e6);
    border: 2px solid #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    overflow: hidden;
    margin-top: 20px;
}

.main_center-content h1{
    color: #444953;
    font-weight: normal;
    border-left: 2px solid #2aa1d3;
    font-size: 200%;
    padding-left: 5px;
}

.main_center-content img{
    float: left;
    margin-right: 10px;
}

.main_center-content nav{
    font-size: 120%;
}

.main_center-content p{
    font-size: 115%;
    line-height: 1.2em;
    color: #444953;
    margin: 5px 0;
    text-indent: 10px;
}

.main_center-content .red{
    color: #c8504b;
}

.main_center-content a {
    text-decoration: none;
    color: #006699;
}

.main_center-content a:hover {
    text-decoration: underline;
}

